.member * {
  margin: 0; }

.member__image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px; }

.member__name {
  font-weight: bold;
  height: 40px; }

.navigation {
  background: #424242;
  margin: 0;
  display: flex;
  justify-content: center; }
  .navigation__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0; }
  .navigation__logo {
    max-height: 35px; }
  .navigation__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px; }
    .navigation__list > * {
      margin-right: 10px; }
    .navigation__list * {
      color: white;
      text-decoration: none; }
      .navigation__list *:hover {
        text-decoration: underline; }

.board__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 0 50px; }

.content {
  max-width: 1200px;
  margin: 0 auto 300px; }
