.member {
  * {
    margin: 0 0 5px;
  }

  &__image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin-bottom:10px;
  }

  &__name {
    font-weight: bold;
    height: 40px;
    font-size: 18px;
  }
}