.navigation {
  background: rgb(66, 66, 66);
  margin: 0;
  display: flex;
  justify-content: center;

  &__content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
  }

  &__logo {
    max-height: 35px;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px;

    > * {
      margin-right: 10px;

    }

    * {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}