@import "member";
@import "navigation";
@import "board";
@import "frontpage";
@import "events";
@import "about";
@import "footer";

.content {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 300px;
}
